"*":
  "autoclose-html": {}
  linter: {}
  minimap:
    plugins:
      "git-diff": true
      selection: true
      "highlight-selected": true
      "find-and-replace": true
  "exception-reporting":
    userId: "d3b9acef-e2f1-9921-109d-3b97e974183c"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/home/andrew/Repos"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "atom-scroller"
      "tabs"
      "tree-view"
      "minimap-highlight-selected"
      "highlight-selected"
    ]
    autoHideMenuBar: true
  "git-plus":
    openInPane: false
  editor:
    invisibles: {}
    fontFamily: "Inconsolata for Powerline"
    showIndentGuide: true
    fontSize: 20
  autosave:
    enabled: true
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
    includeCompletionsFromAllBuffers: true
  "linter-tslint": {}
  "remote-edit": {}
  "atom-beautify":
    _analyticsUserId: "e9a5da2e-7d4f-42d0-9c47-5f6513663cc2"
  tabs:
    showIcons: true
  "tree-view":
    hideVcsIgnoredFiles: false
    hideIgnoredNames: false
    showOnRightSide: false
    sortFoldersBeforeFiles: true
  "linter-rubocop":
    rubocopExecutablePath: "/home/andrew/.rvm/gems/ruby-2.2.1/bin/rubocop"
".js.rails.source source.jquery.js":
  editor:
    tabLength: 4
".erb.html.text":
  editor:
    tabLength: 2
".ruby.source.sql":
  editor:
    tabLength: 4
".console.python.text":
  editor:
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
".basic.html.text":
  editor:
    tabLength: 2
    preferredLineLength: 120
".html.ruby.text":
  editor:
    tabLength: 2
".java.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".python.source":
  editor:
    preferredLineLength: 79
".cpp.source":
  editor:
    tabLength: 8
