"*":
  minimap:
    plugins:
      "git-diff": true
      selection: true
      "highlight-selected": true
      "find-and-replace": true
      pigments: true
      codeglance: true
      "minimap-hide": true
    absoluteMode: true
    scrollAnimation: true
  "exception-reporting":
    userId: "d3b9acef-e2f1-9921-109d-3b97e974183c"
  welcome:
    showOnStartup: false
  core:
    projectHome: "D:\\Andrew\\Repos"
    themes: [
      "atom-material-ui"
      "base16-syntax"
    ]
    autoHideMenuBar: true
  "git-plus":
    openInPane: false
  editor:
    invisibles: {}
    fontFamily: "Hack"
    showIndentGuide: true
    fontSize: 14
    zoomFontWhenCtrlScrolling: false
  autosave:
    enabled: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    confirmCompletion: "tab"
  "linter-tslint": {}
  "remote-edit": {}
  "atom-beautify":
    _analyticsUserId: "e9a5da2e-7d4f-42d0-9c47-5f6513663cc2"
  tabs:
    showIcons: true
    enableVcsColoring: true
    usePreviewTabs: true
  "linter-rubocop":
    rubocopExecutablePath: "D:\\Ruby21-x64\\bin\\rubocop"
  "tree-view":
    hideVcsIgnoredFiles: true
  "base16-syntax":
    scheme: "Monokai"
  "linter-ruby": {}
  "atom-material-ui":
    depth: true
    compactTreeView: true
    rippleAccentColor: true
    slimScrollbar: true
  typewriter: {}
".js.rails.source source.jquery.js":
  editor:
    tabLength: 4
".erb.html.text":
  editor:
    tabLength: 2
    preferredLineLength: 81
".ruby.source.sql":
  editor:
    tabLength: 4
".console.python.text":
  editor:
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
".basic.html.text":
  editor:
    tabLength: 2
    preferredLineLength: 120
".html.ruby.text":
  editor:
    tabLength: 2
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
    softWrap: false
".ruby.source":
  editor:
    preferredLineLength: 81
".java.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".python.source":
  editor:
    preferredLineLength: 79
".cpp.source":
  editor:
    tabLength: 8
"source.gfm":
  editor:
    softWrap: true
