'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'pageup': 'autocomplete-plus:page-up'
  'pagedown': 'autocomplete-plus:page-down'
  'home': 'autocomplete-plus:move-to-top'
  'end': 'autocomplete-plus:move-to-bottom'
  'ctrl-space': 'autocomplete-plus:confirm'
  
'atom-text-editor:not(.mini)':
   'alt': 'unset!'

'.command-palette':
   'ctrl-p': 'core:move-up'
   'ctrl-n': 'core:move-down'

'.fuzzy-finder':
   'ctrl-p': 'core:move-up'
   'ctrl-n': 'core:move-down'

'.symbols-view':
   'ctrl-p': 'core:move-up'
   'ctrl-n': 'core:move-down'

'body':
  'alt-down': 'editor:add-selection-below'
  'alt-up': 'editor:add-selection-above'

'atom-text-editor.vim-mode-plus.normal-mode':
    # Surround family
  'y s': 'vim-mode-plus:surround'
  'y s w': 'vim-mode-plus:surround-word'
  'y m s':  'vim-mode-plus:map-surround'
  # 'd s': 'vim-mode-plus:delete-surround'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  # 'c s': 'vim-mode-plus:change-surround'
  'c s': 'vim-mode-plus:change-surround-any-pair'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-l': 'window:focus-pane-on-right'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g c': 'editor:toggle-line-comments'
  'ctrl-d': 'unset!'

