atom-text-editor::shadow .text.md {
  &.italic {
    font-style: italic;
  }
  &.bold {
    font-weight: bold;
  }
  &.list {
    font-weight: bold;
  }
  &.underline {
    text-decoration: none;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
  }
  .heading {
    font-weight: normal;
    .heading-1 {
      font-weight: 900;
      opacity: 1.0;
    }
    .heading-2 {
      font-weight: 800;
      opacity: 0.9;
    }
    .heading-3 {
      font-weight: 700;
      opacity: 0.85;
    }
    .heading-4,
    .heading-5,
    .heading-6 {
      opacity: 0.80;
    }
  }
}
